// stylelint-disable declaration-no-important, font-weight-notation
.display-4 {
    font-size: map-get(map-get($headings, h1), size) !important;
    font-weight: map-get(map-get($headings, h1), weight);
    line-height: map-get(map-get($headings, h1), line-height) !important;
    letter-spacing: map-get(map-get($headings, h1), letter-spacing) !important;
}

.display-3 {
    font-size: map-get(map-get($headings, h2), size) !important;
    font-weight: map-get(map-get($headings, h2), weight);
    line-height: map-get(map-get($headings, h2), line-height) !important;
    letter-spacing: map-get(map-get($headings, h2), letter-spacing) !important;
}

.display-2 {
    font-size: map-get(map-get($headings, h3), size) !important;
    font-weight: map-get(map-get($headings, h3), weight);
    line-height: map-get(map-get($headings, h3), line-height) !important;
    letter-spacing: map-get(map-get($headings, h3), letter-spacing) !important;
}

.display-1 {
    font-size: map-get(map-get($headings, h4), size) !important;
    font-weight: map-get(map-get($headings, h4), weight);
    line-height: map-get(map-get($headings, h4), line-height) !important;
    letter-spacing: map-get(map-get($headings, h4), letter-spacing) !important;
}

.headline {
    font-size: map-get(map-get($headings, h5), size) !important;
    font-weight: map-get(map-get($headings, h5), weight);
    line-height: map-get(map-get($headings, h5), line-height) !important;
    letter-spacing: map-get(map-get($headings, h5), letter-spacing) !important;
}

.title {
    font-size: map-get(map-get($headings, h6), size) !important;
    font-weight: map-get(map-get($headings, h6), weight);
    line-height: map-get(map-get($headings, h6), line-height) !important;
    letter-spacing: map-get(map-get($headings, h6), letter-spacing) !important;
}

.subheading {
    font-size: map-get(map-get($headings, subheading), size) !important;
    font-weight: map-get(map-get($headings, subheading), weight);
}

.body-2 {
    font-size: map-get(map-get($headings, body-2), size) !important;
    font-weight: map-get(map-get($headings, body-2), weight);
}

.body-1 {
    font-size: map-get(map-get($headings, body-1), size) !important;
    font-weight: map-get(map-get($headings, body-1), weight);
}

.caption {
    font-size: map-get(map-get($headings, caption), size) !important;
    font-weight: map-get(map-get($headings, caption), weight);
}

.btn {
    font-size: map-get(map-get($headings, button), size);
    font-weight: map-get(map-get($headings, button), weight);
}

p {
    margin-bottom: map-get(map-get($spacers, three), y);
}
