@import '../tools/helpers/all';

$_heading-classes: (
    h1: 'display-4',
    h2: 'display-3',
    h3: 'display-2',
    h4: 'display-1',
    h5: 'headline',
    h6: 'title',
    subheading: 'subheading',
    body-2: 'body-2',
    body-1: 'body-1',
    caption: 'caption',
) !default;
$_heading-classes-large: (h1, h2, h3, h4, h5, h6) !default;

@each $heading, $props in $headings {
    $selector: if(
        map-has-key($_heading-classes, $heading),
        if(
            $heading-style-tags and index($_heading-classes-large, $heading),
            '#{$heading}, .#{map-get($_heading-classes, $heading)}',
            '.#{map-get($_heading-classes, $heading)}'
        ),
        #{$heading}
    );

    #{$selector} {
        font-size: map-get($props, size) !important;
        font-weight: map-get($props, weight);
        @if index($_heading-classes-large, $heading) {
            letter-spacing: map-get($props, letter-spacing) !important;
            line-height: map-get($props, line-height) !important;
        }
    }
}

p {
    margin-bottom: map-deep-get($spacers, three, y);
}
