// stylelint-disable declaration-no-important, font-weight-notation
@import '../tools/helpers/all';

// TODO: Reformat these using a loop or something.

h1,
.display-4 {
    font-size: map-deep-get($headings, h1, size) !important;
    font-weight: map-deep-get($headings, h1, weight);
    letter-spacing: map-deep-get($headings, h1, letter-spacing) !important;
    line-height: map-deep-get($headings, h1, line-height) !important;
}

h2,
.display-3 {
    font-size: map-deep-get($headings, h2, size) !important;
    font-weight: map-deep-get($headings, h2, weight);
    letter-spacing: map-deep-get($headings, h2, letter-spacing) !important;
    line-height: map-deep-get($headings, h2, line-height) !important;
}

h3,
.display-2 {
    font-size: map-deep-get($headings, h3, size) !important;
    font-weight: map-deep-get($headings, h3, weight);
    letter-spacing: map-deep-get($headings, h3, letter-spacing) !important;
    line-height: map-deep-get($headings, h3, line-height) !important;
}

h4,
.display-1 {
    font-size: map-deep-get($headings, h4, size) !important;
    font-weight: map-deep-get($headings, h4, weight);
    letter-spacing: map-deep-get($headings, h4, letter-spacing) !important;
    line-height: map-deep-get($headings, h4, line-height) !important;
}

h5,
.headline {
    font-size: map-deep-get($headings, h5, size) !important;
    font-weight: map-deep-get($headings, h5, weight);
    letter-spacing: map-deep-get($headings, h5, letter-spacing) !important;
    line-height: map-deep-get($headings, h5, line-height) !important;
}

h6,
.title {
    font-size: map-deep-get($headings, h6, size) !important;
    font-weight: map-deep-get($headings, h6, weight);
    letter-spacing: map-deep-get($headings, h6, letter-spacing) !important;
    line-height: map-deep-get($headings, h6, line-height) !important;
}

.subheading {
    font-size: map-deep-get($headings, subheading, size) !important;
    font-weight: map-deep-get($headings, subheading, weight);
}

.body-2 {
    font-size: map-deep-get($headings, body-2, size) !important;
    font-weight: map-deep-get($headings, body-2, weight);
}

.body-1 {
    font-size: map-deep-get($headings, body-1, size) !important;
    font-weight: map-deep-get($headings, body-1, weight);
}

.caption {
    font-size: map-deep-get($headings, caption, size) !important;
    font-weight: map-deep-get($headings, caption, weight);
}

.v-btn {
    font-size: map-deep-get($headings, button, size);
    font-weight: map-deep-get($headings, button, weight);
}

p {
    margin-bottom: map-deep-get($spacers, three, y);
}
