@import 'colors';
@import '../tools/helpers/all';

// Theme
// ============================================================
//

//* What all the rem calculations are based off of.
// NOTE: Don't convert this to `rem` because this is used as the base in calculations.
//! This must be first otherwise the other `rem()` calls will fail.
$font-size-root: 16px !default;
$body-font-size: rem(14px) !default;
$line-height-root: 1.5 !default;
$body-font-family: 'Roboto', sans-serif !default;

// Material Design - https://material.io/guidelines/style/color.html#color-usability
// ============================================================
$material-light: () !default;
$material-light: map-merge(
    (
        status-bar: (
            regular: map-get($grey, lighten-2),
            lights-out: rgba(map-get($shades, 'white'), 0.7)
        ),
        app-bar: map-get($grey, lighten-4),
        background: map-get($grey, lighten-5),
        cards: map-get($shades, 'white'),
        chips: (
            background: map-get($grey, lighten-2),
            color: rgba(map-get($shades, 'black'), 0.87)
        ),
        dividers: rgba(map-get($shades, 'black'), 0.12),
        text: (
            theme: map-get($shades, 'white'),
            primary: rgba(map-get($shades, 'black'), 0.87),
            secondary: rgba(map-get($shades, 'black'), 0.54),
            disabled: rgba(map-get($shades, 'black'), 0.38),
            link: map-get($blue, darken-2),
            link-hover: map-get($grey, darken-3)
        ),
        icons: (
            active: rgba(map-get($shades, 'black'), 0.54),
            inactive: rgba(map-get($shades, 'black'), 0.38)
        ),
        inputs: (
            box: rgba(map-get($shades, 'black'), 0.04),
            solo-inverted: rgba(map-get($shades, 'black'), 0.16),
            solo-inverted-focused: map-get($grey, darken-3),
            solo-inverted-focused-text: map-get($shades, 'white')
        ),
        buttons: (
            disabled: rgba(map-get($shades, 'black'), 0.26),
            focused: rgba(map-get($shades, 'black'), 0.12),
            focused-alt: rgba(map-get($shades, 'white'), 0.6),
            pressed: rgba(#999999, 0.4)
        ),
        expansion-panels: (
            focus: map-get($grey, lighten-3)
        ),
        list-tile: (
            hover: rgba(map-get($shades, 'black'), 0.04)
        ),
        selection-controls: (
            thumb: (
                inactive: map-get($grey, lighten-5),
                disabled: map-get($grey, lighten-1)
            ),
            track: (
                inactive: rgba(map-get($shades, 'black'), 0.38),
                disabled: rgba(map-get($shades, 'black'), 0.12)
            )
        ),
        slider: (
            active: rgba(map-get($shades, 'black'), 0.38),
            inactive: rgba(map-get($shades, 'black'), 0.26),
            disabled: rgba(map-get($shades, 'black'), 0.26),
            discrete: map-get($shades, 'black')
        ),
        tabs: (
            active: rgba(map-get($shades, 'black'), 0.87)
        ),
        text-fields: (
            box: rgba(map-get($shades, 'black'), 0.06),
            box-hover: rgba(map-get($shades, 'black'), 0.12)
        ),
        input-bottom-line: rgba(map-get($shades, 'black'), 0.42),
        stepper: (
            active: rgba(map-get($shades, 'white'), 1),
            completed: rgba(map-get($shades, 'black'), 0.87),
            hover: rgba(map-get($shades, 'black'), 0.54)
        ),
        table: (
            active: map-get($grey, lighten-4),
            hover: map-get($grey, lighten-3)
        ),
        picker: (
            body: map-get($shades, 'white'),
            clock: map-get($grey, lighten-2),
            indeterminateTime: map-get($grey, lighten-1),
            title: map-get($grey, lighten-2)
        ),
        bg-color: map-get($shades, 'white'),
        fg-color: map-get($shades, 'black'),
        text-color: map-get($shades, 'black'),
        primary-text-percent: 0.87,
        secondary-text-percent: 0.54,
        disabledORhints-text-percent: 0.38,
        divider-percent: 0.12,
        active-icon-percent: 0.54,
        inactive-icon-percent: 0.38,
        calendar: (
            background-color: map-get($shades, 'white'),
            outside-background-color: #f7f7f7,
            line-color: map-get($grey, lighten-2),
            interval-color: map-get($grey, darken-3),
            interval-line-color: map-get($grey, lighten-2),
            text-color: map-get($shades, 'black'),
            past-color: rgba(map-get($shades, 'black'), 0.38)
        )
    ),
    $material-light
);

$material-dark: () !default;
$material-dark: map-merge(
    (
        status-bar: (
            regular: map-get($shades, 'black'),
            lights-out: rgba(map-get($shades, 'black'), 0.2)
        ),
        app-bar: map-get($grey, darken-4),
        background: #303030,
        cards: map-get($grey, darken-3),
        chips: (
            background: #555555,
            color: map-get($shades, 'white')
        ),
        dividers: rgba(map-get($shades, 'white'), 0.12),
        text: (
            theme: map-get($shades, 'white'),
            primary: map-get($shades, 'white'),
            secondary: rgba(map-get($shades, 'white'), 0.7),
            disabled: rgba(map-get($shades, 'white'), 0.5),
            link: map-get($blue, accent-1),
            link-hover: map-get($grey, lighten-3)
        ),
        icons: (
            active: map-get($shades, 'white'),
            inactive: rgba(map-get($shades, 'white'), 0.5)
        ),
        inputs: (
            box: map-get($shades, 'white'),
            solo-inverted: rgba(map-get($shades, 'white'), 0.16),
            solo-inverted-focused: map-get($shades, 'white'),
            solo-inverted-focused-text: map-deep-get($material-light, text, primary)
        ),
        list-tile: (
            hover: rgba(map-get($shades, 'white'), 0.08)
        ),
        buttons: (
            disabled: rgba(map-get($shades, 'white'), 0.3),
            focused: rgba(map-get($shades, 'white'), 0.12),
            focused-alt: rgba(map-get($shades, 'white'), 0.1),
            pressed: rgba(#cccccc, 0.25)
        ),
        expansion-panels: (
            focus: #494949
        ),
        selection-controls: (
            thumb: (
                inactive: map-get($grey, lighten-1),
                disabled: map-get($grey, darken-3)
            ),
            track: (
                inactive: rgba(map-get($shades, 'white'), 0.3),
                disabled: rgba(map-get($shades, 'white'), 0.1)
            )
        ),
        slider: (
            active: rgba(map-get($shades, 'white'), 0.3),
            inactive: rgba(map-get($shades, 'white'), 0.2),
            disabled: rgba(map-get($shades, 'white'), 0.2),
            discrete: map-get($shades, 'white')
        ),
        tabs: (
            active: map-get($shades, 'white')
        ),
        text-fields: (
            box: rgba(map-get($shades, 'black'), 0.1),
            box-hover: rgba(map-get($shades, 'black'), 0.2),
            box-focus: rgba(map-get($shades, 'black'), 0.3)
        ),
        input-bottom-line: rgba(map-get($shades, 'white'), 0.7),
        stepper: (
            active: rgba(map-get($shades, 'white'), 1),
            completed: rgba(map-get($shades, 'white'), 0.87),
            hover: rgba(map-get($shades, 'white'), 0.75)
        ),
        table: (
            active: #505050,
            hover: map-get($grey, darken-22)
        ),
        picker: (
            body: map-get($grey, darken-3),
            clock: map-get($grey, darken-2),
            indeterminateTime: map-get($grey, darken-1),
            title: map-get($grey, darken-2)
        ),
        bg-color: #303030,
        fg-color: map-get($shades, 'white'),
        text-color: map-get($shades, 'white'),
        primary-text-percent: 1,
        secondary-text-percent: 0.7,
        disabledORhints-text-percent: 0.5,
        divider-percent: 0.12,
        active-icon-percent: 1,
        inactive-icon-percent: 0.5,
        calendar: (
            background-color: #303030,
            outside-background-color: #202020,
            line-color: map-get($grey, base),
            interval-color: map-get($grey, lighten-3),
            interval-line-color: map-get($grey, darken-2),
            text-color: map-get($shades, 'white'),
            past-color: rgba(map-get($shades, 'white'), 0.5)
        )
    ),
    $material-dark
);

// Default Material Theme
// ============================================================
$material-theme: $material-light !default;
$material-twelve-percent-light: rgba(
    map-get($material-dark, fg-color),
    map-get($material-dark, divider-percent)
) !default;
$material-twelve-percent-dark: rgba(
    map-get($material-light, fg-color),
    map-get($material-light, divider-percent)
) !default;

// Theme
// ============================================================
$body-bg-light: map-get($material-light, background) !default;
$body-bg-dark: map-get($material-dark, background) !default;
$body-color-light: rgba(
    map-get($material-dark, text-color),
    map-get($material-dark, primary-text-percent)
) !default;
$body-color-dark: rgba(
    map-get($material-light, text-color),
    map-get($material-light, primary-text-percent)
) !default;
$color-theme: rgba(
    map-get($material-theme, text-color),
    map-get($material-theme, primary-text-percent)
) !default;
