@import '../bootstrap';
@import '../theme';

@mixin v-bottom-nav($material) {
    background-color: map-get($material, cards);
}

@include theme(light, 'v-bottom-nav') {
    @include v-bottom-nav($material-light);
}

@include theme(dark, 'v-bottom-nav') {
    @include v-bottom-nav($material-dark);
}

.v-item-group.v-bottom-nav {
    bottom: 0;
    box-shadow: rem(0 3px 14px 2px) rgba(#000000, 0.12);
    display: flex;
    justify-content: center;
    left: 0;
    transform: translate(0, rem(60px));
    transition: all 0.4s map-get($transition, swing);
    width: 100%;

    &--absolute {
        position: absolute;
    }

    &--active {
        transform: translate(0, 0);
    }

    &--fixed {
        position: fixed;
        z-index: 4;
    }

    .v-btn {
        background: transparent !important;
        border-radius: 0;
        box-shadow: none !important;
        // https://github.com/vuetifyjs/vuetify/issues/4643
        flex-shrink: 1;
        font-weight: font-weight(regular);
        height: 100%;
        margin: 0;
        max-width: rem(168px);
        min-width: rem(80px);
        opacity: 0.5;
        padding: rem(8px 12px 10px);
        text-transform: none;
        width: 100%;

        .v-btn__content {
            flex-direction: column-reverse;
            font-size: rem(12px);
            white-space: nowrap;
            will-change: font-size;

            i.v-icon {
                color: inherit;
                margin-bottom: rem(4px);
                transition: all 0.4s cubic-bezier(0.25, 0.8, 0.5, 1);
            }

            span {
                line-height: 1;
            }
        }

        &--active {
            opacity: 1;
            padding-top: rem(6px);

            &::before {
                background-color: transparent;
            }

            .v-btn__content {
                font-size: rem(14px);

                .v-icon {
                    transform: none;
                }
            }
        }

        &:not(.v-btn--active) {
            filter: grayscale(100%);
        }
    }

    &--shift {
        .v-btn__content {
            font-size: rem(14px);
        }

        .v-btn {
            max-width: rem(96px);
            min-width: rem(56px);
            transition: all 0.3s;

            &--active {
                max-width: rem(168px);
                min-width: rem(96px);
            }

            &:not(.v-btn--active) .v-btn__content {
                .v-icon {
                    transform: scale(1, 1) translate(0, rem(8px));
                }

                span {
                    color: transparent;
                }
            }
        }
    }
}
