@import '../bootstrap';
@import '../theme';

/** Themes */

@mixin btn-toggle($material) {
    background: map-get($material, cards);

    .btn {
        color: map-get(map-get($material, text), primary);

        &.btn--active:not(:last-child):not([data-only-child]) {
            border-right-color: map-get(map-get($material, buttons), disabled);
        }
    }
}

@include theme(light, 'btn-toggle') {
    @include btn-toggle($material-light);
}

@include theme(dark, 'btn-toggle') {
    @include btn-toggle($material-dark);
}

.btn-toggle {
    display: inline-flex;
    border-radius: 2px;
    transition: $primary-transition;
    will-change: background, box-shadow;

    .btn {
        justify-content: center;
        min-width: auto;
        width: auto;
        padding: 0 8px;
        margin: 0;
        opacity: 0.4;
        border-radius: 0;

        &:not(:last-child) {
            border-right: 1px solid transparent;
        }

        &:after {
            display: none;
        }

        &.btn--active {
            opacity: 1;
        }

        &__content {
            padding: 0;
        }

        span + .icon {
            font-size: initial;
            margin-left: 10px;
        }

        &:first-child {
            border-radius: 2px 0 0 2px;
        }

        &:last-child {
            border-radius: 0 2px 2px 0;
        }
    }

    &--selected {
        @include elevation(2);
    }
}
