// stylelint-disable declaration-no-important
@import '../bootstrap';
@import '../components/_ripples';
@import '../theme';

@mixin button($material) {
    color: map-get(map-get($material, text), primary);

    &.btn--disabled {
        color: map-get(map-get($material, buttons), disabled) !important;

        .icon {
            color: map-get(map-get($material, buttons), disabled) !important;
        }

        &:not(.btn--icon):not(.btn--flat) {
            background-color: map-get(
                map-get($material, buttons),
                focused
            ) !important;
        }
    }

    &:not(.btn--icon):not(.btn--flat) {
        background-color: map-get($material, app-ba);
    }
}

@include theme(light, 'btn') {
    @include button($material-light);
}

@include theme(dark, 'btn') {
    @include button($material-dark);
}

/** Base Spec */
.btn {
    align-items: center;
    border-radius: $button-border-radius;
    display: inline-flex;
    height: $button-height;
    flex: 0 1 auto;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    justify-content: center;
    margin: $button-margin;
    min-width: $button-min-width;
    outline: 0;
    text-transform: $button-text-transform;
    text-decoration: none;
    transition: 0.3s map-get($transition, swin), color 1ms;
    position: relative;
    vertical-align: middle;
    user-select: none;
}

/*Psuedo */
// stylelint-disable-next-line
.btn {
    &__content:before {
        border-radius: inherit;
        color: inherit;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        opacity: 0.12;
        transition: $primary-transition;
        width: 100%;
    }
}

/*Sizes */
// stylelint-disable-next-line
.btn {
    &--small {
        font-size: $button-small-font-size;
        height: $button-small-height;
        .btn__content {
            padding: $button-small-padding;
        }
    }
    &--large {
        font-size: $button-large-font-size;
        height: $button-large-height;
        .btn__content {
            padding: $button-large-padding;
        }
    }
}

/*Content */
// stylelint-disable-next-line
.btn {
    &--active,
    &:hover,
    &:focus {
        .btn__content:before {
            background-color: currentColor;
        }
    }
    &__content {
        align-items: center;
        border-radius: inherit;
        color: inherit;
        display: flex;
        height: inherit;
        flex: 1 0 auto;
        justify-content: center;
        margin: 0 auto;
        padding: $button-padding;
        transition: $primary-transition;
        white-space: nowrap;
        width: inherit;
    }
}

/*Icons */
.btn .btn__content .icon {
    color: inherit;
}

/*Types */
// stylelint-disable-next-line
.btn {
    &--flat {
        background-color: transparent !important;
        box-shadow: none !important;
    }
    &:not(.btn--depressed) {
        @include elevation(2);
        will-change: box-shadow;

        &:active {
            @include elevation(8);
        }

        // Fixes bug where IE11 moves
        // button content when clicked
        // https://stackoverflow.com/questions/10305658/prevent-button-from-shifting-during-click-in-ie
        &:active,
        &:focus {
            .btn__content {
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
    &--icon {
        background: transparent;
        box-shadow: none !important;
        border-radius: 50%;
        justify-content: center;
        min-width: 0;
        width: $button-height;
        &.btn--small {
            width: $button-small-height;
        }
        &.btn--large {
            width: $button-large-height;
        }
        .btn__content:before {
            border-radius: 50%;
        }
    }
    &--floating {
        border-radius: 50%;
        min-width: 0;
        height: $button-floating-width;
        width: $button-floating-width;
        padding: 0;
        &.btn--fixed,
        &.btn--absolute {
            z-index: 4;
        }
        &:not(.btn--depressed) {
            @include elevation(6);
            &:active {
                @include elevation(12);
            }
        }
        &:after {
            border-radius: 50%;
        }
        .btn__content {
            flex: 1 1 auto;
            margin: 0;
            padding: 0;

            &:not(:only-child) {
                transition: $primary-transition;
                &:first-child {
                    opacity: 1;
                }
                &:last-child {
                    opacity: 0;
                    transform: rotate(-45deg);
                }
                &:last-child,
                &:first-child {
                    // https://stackoverflow.com/questions/14729492/css3-transform-rotate-causing-1px-shift-in-chrome
                    // -webkit-backface-visibility: hidden;
                    backface-visibility: hidden; // unprefixed of above
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        &.btn--active {
            .btn__content {
                &:not(:only-child) {
                    &:first-child {
                        opacity: 0;
                        transform: rotate(45deg);
                    }
                    &:last-child {
                        opacity: 1;
                        transform: rotate(0);
                    }
                }
            }
        }
        .icon {
            height: inherit;
            width: inherit;
        }
        &.btn--small {
            height: $button-floating-small-width;
            width: $button-floating-small-width;
            .icon {
                font-size: $button-floating-small-icon-width;
            }
        }
        &.btn--large {
            height: $button-floating-large-width;
            width: $button-floating-large-width;
            .icon {
                font-size: $button-floating-large-icon-width;
            }
        }
    }
    &--reverse {
        .btn__content {
            flex-direction: row-reverse;
        }
        &.btn--column {
            .btn__content {
                flex-direction: column-reverse;
            }
        }
    }
    &--fixed,
    &--absolute {
        margin: 0;
    }
    // Position must have prepended .btn
    // to account for tooltip
    // TODO: Remove this once tooltips are
    // converted to elements
    &.btn--absolute {
        position: absolute;
    }
    &.btn--fixed {
        position: fixed;
    }
    &--top {
        &:not(.btn--absolute) {
            top: map-get($grid-gutters, l);
        }
        &.btn--absolute {
            top: -($button-floating-width / 2);
            &.btn--small {
                top: -($button-floating-small-width / 2);
            }
            &.btn--large {
                top: -($button-floating-large-width / 2);
            }
        }
    }
    &--bottom {
        &:not(.btn--absolute) {
            bottom: map-get($grid-gutters, l);
        }
        &.btn--absolute {
            bottom: -($button-floating-width / 2);
            &.btn--small {
                bottom: -($button-floating-small-width / 2);
            }
            &.btn--large {
                bottom: -($button-floating-large-width / 2);
            }
        }
    }
    &--left {
        left: map-get($grid-gutters, l);
    }
    &--right {
        right: map-get($grid-gutters, l);
    }
}

/*Disabled */
// stylelint-disable-next-line
.btn {
    &.btn--disabled {
        box-shadow: none !important;
        pointer-events: none;
    }
}

// stylelint-disable-next-line
.btn--icon {
    .btn__content {
        padding: 0;
    }
}

/*Loader */
// stylelint-disable-next-line
.btn {
    &--loader {
        pointer-events: none;
        .btn__content {
            opacity: 0;
        }
    }
    &__loading {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        .icon {
            &--left {
                margin-right: 1rem;
                line-height: inherit;
            }
            &--right {
                margin-left: 1rem;
                line-height: inherit;
            }
        }
    }
}

/*Custom Buttons */
// stylelint-disable-next-line
.btn {
    &.btn--outline {
        border: 1px solid currentColor;
        background: transparent !important;
        box-shadow: none;
        &:hover {
            box-shadow: none;
        }
    }
    &--block {
        display: flex;
        flex: 1;
        margin: $button-margin-y 0;
        width: 100%;
    }
    &--round {
        border-radius: 28px;
        &:after {
            border-radius: 28px;
        }
    }
}

/*Button w/ directional Icon */
// stylelint-disable-next-line
.btn {
    .icon {
        &--right {
            margin-left: 16px;
        }
        &--left {
            margin-right: 16px;
        }
    }
}

/*Themes */
// stylelint-disable-next-line
.btn {
    &.primary,
    &.secondary,
    &.accent,
    &.success,
    &.error,
    &.warning,
    &.info {
        color: map-get(map-get($material-dark, text), primary);
    }
}
