@import '../bootstrap';
@import '../theme';

// Theme
@mixin v-card($material) {
    background-color: map-get($material, cards);
    color: map-deep-get($material, text, primary);
}

@include theme(light, 'v-card') {
    @include v-card($material-light);
}

@include theme(dark, 'v-card') {
    @include v-card($material-dark);
}

.v-card {
    @include elevation(1);
    border-radius: $card-border-radius;
    display: block;
    min-width: 0;
    position: relative;
    text-decoration: none;

    > *:first-child:not(.v-btn):not(.v-chip) {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    > *:last-child:not(.v-btn):not(.v-chip) {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    &--raised {
        @include elevation(3);
    }

    &--tile {
        border-radius: 0;
    }

    &--flat {
        @include elevation(0);
    }

    &--hover {
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-property: box-shadow;

        &:hover {
            @include elevation(8);
        }
    }

    &__title {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;

        &--primary {
            padding-top: 1.5rem;
        }
    }

    &__text {
        padding: 1rem;
        width: 100%;
    }

    &__actions {
        align-items: center;
        display: flex;
        padding: 0.5rem;

        > *,
        .v-btn {
            margin: 0;
        }

        .v-btn + .v-btn {
            margin-left: 0.5rem;
        }
    }
}
