// stylelint-disable declaration-no-important
@import '../bootstrap';
@import '../theme';

@mixin date-picker-header($material) {
    .date-picker-header__value:not(.date-picker-header__value--disabled) {
        strong:not(:hover) {
            color: map-get(map-get($material, text), primary) !important;
        }
    }
    .date-picker-header__value--disabled strong {
        color: map-get(map-get($material, text), disabled);
    }
}

@include theme(light, 'date-picker-header') {
    @include date-picker-header($material-light);
}

@include theme(dark, 'date-picker-header') {
    @include date-picker-header($material-dark);
}

.date-picker-header {
    padding: 4px 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    .btn {
        margin: 0;
        z-index: auto;
    }
    .icon {
        cursor: pointer;
        user-select: none;
    }
}

.date-picker-header__value {
    flex: 1;
    text-align: center;
    position: relative;
    overflow: hidden;
    strong {
        cursor: pointer;
        transition: $primary-transition;
        display: block;
        width: 100%;
    }
}
