@import '../bootstrap';
@import '../theme';

@mixin v-date-picker-header($material) {
    .v-date-picker-header__value:not(.v-date-picker-header__value--disabled) {
        button:not(:hover):not(:focus) {
            color: map-deep-get($material, text, primary);
        }
    }

    .v-date-picker-header__value--disabled {
        button {
            color: map-deep-get($material, text, disabled);
        }
    }
}

@include theme(light, 'v-date-picker-header') {
    @include v-date-picker-header($material-light);
}

@include theme(dark, 'v-date-picker-header') {
    @include v-date-picker-header($material-dark);
}

.v-date-picker-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: rem(4px 16px);
    position: relative;

    .v-btn {
        margin: 0;
        z-index: auto;
    }

    .v-icon {
        cursor: pointer;
        user-select: none;
    }
}

.v-date-picker-header__value {
    flex: 1;
    overflow: hidden;
    position: relative;
    text-align: center;

    div {
        transition: $primary-transition;
        width: 100%;
    }

    button {
        cursor: pointer;
        font-weight: bold;
        outline: none;
        padding: 0.5rem;
        transition: $primary-transition;
    }
}

.v-date-picker-header--disabled {
    pointer-events: none;
}
