@import '../bootstrap';
@import '../theme';

@mixin v-dataiterator($material) {
    .v-data-iterator__actions {
        color: rgba(
            map-get($material, fg-color),
            map-get($material, secondary-text-percent)
        );

        &__select {
            .v-select {
                .v-select__selection--comma {
                    color: rgba(
                        map-get($material, fg-color),
                        map-get($material, secondary-text-percent)
                    ) !important;
                }

                .v-input__append-inner {
                    color: rgba(
                        map-get($material, fg-color),
                        map-get($material, secondary-text-percent)
                    ) !important;
                }
            }
        }
    }
}

@include theme(light, 'v-data-iterator') {
    @include v-dataiterator($material-light);
}

@include theme(dark, 'v-data-iterator') {
    @include v-dataiterator($material-dark);
}

// Actions
.v-data-iterator__actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    font-size: rem(12px);
    justify-content: flex-end;

    .v-btn {
        color: inherit;

        &:last-of-type {
            margin-left: rem(14px);
        }
    }

    &__range-controls {
        align-items: center;
        display: flex;
        min-height: rem(48px);
    }

    &__pagination {
        display: block;
        margin: rem(0 32px 0 24px);
        text-align: center;
    }

    &__select {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: rem(14px);

        .v-select {
            margin: rem(13px 0 13px 34px);
            padding: 0;
            position: initial;

            .v-select__selection--comma {
                font-size: rem(12px);
            }
        }
    }
}
