@import '../bootstrap';
@import '../theme';

@mixin v-date-picker-table($material) {
    th,
    .v-date-picker-table--date__week {
        color: map-deep-get($material, text, disabled);
    }
}

@include theme(light, 'v-date-picker-table') {
    @include v-date-picker-table($material-light);
}

@include theme(dark, 'v-date-picker-table') {
    @include v-date-picker-table($material-dark);
}

.v-date-picker-table {
    height: rem(242px);
    padding: rem(0 12px);
    position: relative;

    table {
        table-layout: fixed;
        top: 0;
        transition: $primary-transition;
        width: 100%;
    }

    td,
    th {
        position: relative;
        text-align: center;
    }

    th {
        font-size: rem(12px);
    }

    &--date .v-btn {
        height: rem(32px);
        width: rem(32px);
    }

    .v-btn {
        font-size: rem(12px);
        margin: 0;
        z-index: auto;

        &.v-btn--active {
            color: #ffffff;
        }
    }
}

.v-date-picker-table--month {
    td {
        height: rem(56px);
        text-align: center;
        vertical-align: middle;
        width: 33.33333%;

        .v-btn {
            margin: 0 auto;
            max-width: rem(160px);
            min-width: rem(40px);
            width: 100%;
        }
    }
}

.v-date-picker-table--date {
    th {
        font-weight: 600;
        padding: rem(8px 0);
    }

    td {
        width: rem(45px);
    }
}

.v-date-picker-table__events {
    height: rem(8px);
    left: 0;
    position: absolute;
    text-align: center;
    white-space: pre;
    width: 100%;

    > div {
        border-radius: 50%;
        display: inline-block;
        height: rem(8px);
        margin: rem(0 1px);
        width: rem(8px);
    }
}

.v-date-picker-table--date .v-date-picker-table__events {
    bottom: rem(6px);
}

.v-date-picker-table--month .v-date-picker-table__events {
    bottom: rem(8px);
}

.v-date-picker-table--disabled {
    pointer-events: none;
}
