@import '../bootstrap';

.v-date-picker-years {
    font-size: rem(16px);
    font-weight: font-weight(regular);
    height: rem(286px);
    list-style-type: none;
    overflow: auto;
    padding: 0;
    text-align: center;

    li {
        cursor: pointer;
        padding: rem(8px 0);
        transition: none;

        &.active {
            font-size: rem(26px);
            font-weight: font-weight(medium);
            padding: rem(10px 0);
        }

        &:hover {
            background: rgba(0, 0, 0, 0.12);
        }
    }
}

.v-picker--landscape {
    .v-date-picker-years {
        height: rem(286px);
    }
}
