@import '../bootstrap';

@mixin v-date-picker-title-rtl {
    .v-picker__title__btn {
        text-align: right;
    }
}

@include rtl('v-date-picker-title') {
    @include v-date-picker-title-rtl;
}

.v-date-picker-title {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    line-height: 1;
}

.v-date-picker-title__year {
    align-items: center;
    display: inline-flex;
    font-size: rem(14px);
    font-weight: font-weight(medium);
    margin-bottom: rem(8px);
}

.v-date-picker-title__date {
    font-size: rem(34px);
    font-weight: font-weight(medium);
    margin-bottom: rem(-8px);
    overflow: hidden;
    padding-bottom: rem(8px);
    position: relative;
    text-align: left;

    > div {
        position: relative;
    }
}
