@import '../bootstrap';
@import '../theme';

@mixin v-divider($material) {
    background-color: map-get($material, dividers);
}

@include theme(light, 'v-divider') {
    @include v-divider($material-light);
}

@include theme(dark, 'v-divider') {
    @include v-divider($material-dark);
}

.v-divider {
    border: solid;
    border-width: thin 0 0;
    display: block;
    flex: 1 1 0;
    height: 0;
    max-height: 0;
    max-width: 100%;
    transition: inherit;

    &--inset:not(.v-divider--vertical) {
        margin-left: rem(72px);
        width: calc(100% - #{rem(72px)});
    }

    &--vertical {
        align-self: stretch;
        border: solid;
        border-width: 0 thin 0 0;
        display: inline-flex;
        height: inherit;
        max-height: 100%;
        max-width: 0;
        min-height: 100%;
        vertical-align: text-bottom;
        width: 0;

        &.v-divider--inset {
            margin-top: rem(8px);
            max-height: calc(100% - #{rem(16px)});
            min-height: 0;
        }
    }
}
