// stylelint-disable declaration-no-important
@import '../bootstrap';
@import '../theme';

/*Theme */
@mixin expansion-panel($material) {
    .expansion-panel__container {
        border-top: 1px solid
            rgba(
                map-get($material, fg-color),
                map-get($material, divider-percent)
            );
        background-color: map-get($material, cards);
        color: map-get(map-get($material, text), primary);
        .expansion-panel__header {
            .icon {
                color: map-get(map-get($material, icons), active);
            }
        }
    }
    &--focusable {
        .expansion-panel__container {
            &:focus {
                background-color: map-get(
                    map-get($material, expansion-panels),
                    focus
                );
            }
        }
    }
}

@include theme(light, 'expansion-panel') {
    @include expansion-panel($material-light);
}

@include theme(dark, 'expansion-panel') {
    @include expansion-panel($material-dark);
}

.expansion-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    text-align: left;
    width: 100%;
    @include elevation(1);
    &__container {
        flex: 1 0 100%;
        max-width: 100%;
        outline: none;
        transition: 0.3s map-get($transition, swing);
        &:first-child {
            border-top: none !important;
        }
        .header__icon {
            margin-left: auto;
            .icon {
                // Edge rendering issue TODO: revisit later
                transition: none;
            }
        }
        &--active {
            > .expansion-panel__header {
                .header__icon .icon {
                    transform: rotate(-180deg);
                }
            }
        }
    }
    &__header {
        display: flex;
        cursor: pointer;
        align-items: center;
        position: relative;
        padding: 12px 24px;
        > *:not(.header__icon) {
            flex: 1 1 auto;
        }
    }
    &__body {
        transition: $primary-transition;
        .card {
            border-radius: 0;
            @include elevation(0);
        }
    }
    &--popout,
    &--inset {
        @include elevation(0);
        .expansion-panel__container--active {
            margin: map-get(map-get($spacers, three), x);
            @include elevation(3);
        }
        .expansion-panel__container {
            max-width: 95%;
        }
    }
    &--popout {
        .expansion-panel__container--active {
            max-width: 100%;
        }
    }
    &--inset {
        .expansion-panel__container--active {
            max-width: 85%;
        }
    }
}
