// stylelint-disable declaration-no-important
@import '../bootstrap';
@import '../theme';

@mixin footer($material) {
    background: map-get($material, app-bar);
    color: map-get(map-get($material, text), primary);
}

@include theme(light, 'footer') {
    @include footer($material-light);
}

@include theme(dark, 'footer') {
    @include footer($material-dark);
}

.footer {
    align-items: center;
    display: flex;
    flex: 0 1 auto !important;
    min-height: $footer-height;
    transition: 0.2s map-get($transition, fast-out-slow-in);
    &--absolute,
    &--fixed {
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    &--inset {
        z-index: 2;
    }
    &--absolute {
        position: absolute;
    }
    &--fixed {
        position: fixed;
    }
}
