@import '../bootstrap';
@import '../theme';

// Theme
@mixin v-icon($material) {
    color: map-deep-get($material, icons, active);

    &.v-icon--disabled {
        color: map-deep-get($material, icons, inactive) !important;
    }
}

@include theme(light, 'v-icon') {
    @include v-icon($material-light);
}

@include theme(dark, 'v-icon') {
    @include v-icon($material-dark);
}

.v-icon {
    align-items: center;
    display: inline-flex;
    font-feature-settings: 'liga';
    font-size: rem(1.5rem);
    justify-content: center;
    line-height: 1;
    transition: $primary-transition;
    vertical-align: text-bottom;

    &--right {
        margin-left: map-get($grid-gutters, lg);
    }

    &--left {
        margin-right: map-get($grid-gutters, lg);
    }

    &.v-icon.v-icon--link {
        cursor: pointer;
    }

    &--disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &--is-component {
        height: rem(24px);
    }
}
