@import '../bootstrap';
@import '../theme';

@mixin v-overflow-btn($material) {
    .v-input__control,
    .v-input__slot {
        &::before {
            background-color: map-get(
                $material,
                dividers
            ) !important; // override v-text-field bottom border
        }
    }

    &.v-text-field--outline {
        .v-input__control,
        .v-input__slot {
            &::before {
                background-color: transparent !important; // override v-text-field top border;
            }
        }
    }

    &--segmented,
    &--editable:hover,
    &--editable.v-input--is-focused,
    &--editable.v-select--is-menu-active {
        .v-input__append-inner {
            border-left: rem(1px) solid map-get($material, dividers);
        }
    }

    &:hover,
    &.v-input--is-focused,
    &.v-select--is-menu-active {
        .v-input__slot {
            background: map-get($material, cards);
        }
    }
}

@include theme(light, 'v-overflow-btn') {
    @include v-overflow-btn($material-light);
}

@include theme(dark, 'v-overflow-btn') {
    @include v-overflow-btn($material-dark);
}

.v-overflow-btn {
    margin-top: rem(12px);
    padding-top: 0;

    &:not(.v-overflow-btn--editable) > .v-input__control > .v-input__slot {
        cursor: pointer;
    }

    .v-select__slot {
        height: rem(48px);

        input {
            cursor: pointer;
            margin-left: rem(16px);
        }
    }

    .v-select__selection--comma:first-child {
        margin-left: rem(16px);
    }

    .v-input__slot {
        transition: 0.3s map-get($transition, swing);

        &::after {
            content: none;
        }
    }

    .v-label {
        margin-left: rem(16px);
        top: calc(50% - #{rem(10px)});
    }

    .v-input__append-inner {
        align-items: center;
        align-self: auto;
        flex-shrink: 0;
        height: rem(48px);
        margin-top: 0;
        padding: 0;
        width: rem(48px);
    }

    .v-input__append-outer,
    .v-input__prepend-outer {
        margin-bottom: rem(12px);
        margin-top: rem(12px);
    }

    .v-input__control::before {
        content: '';
        // TODO: move to mixin
        height: rem(1px);
        left: 0;
        position: absolute;
        top: rem(-1px);
        transition: $primary-transition;
        width: 100%;
    }

    &.v-input--is-focused,
    &.v-select--is-menu-active {
        .v-input__slot {
            @include elevation(2);
        }
    }

    .v-select__selections {
        width: 0;
    }

    &--segmented {
        .v-select__selections {
            flex-wrap: nowrap;

            .v-btn {
                border-radius: 0;
                height: rem(48px);
                margin: 0;
                margin-right: rem(-16px); // push past the input's padding
                width: 100%;

                &__content {
                    justify-content: start;

                    &::before {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    &--editable {
        .v-select__slot {
            input {
                cursor: text;
            }
        }

        .v-input__append-inner,
        .v-input__append-inner * {
            cursor: pointer;
        }
    }
}
