@import '../bootstrap';
@import '../theme';

@mixin v-pagination($material) {
    .v-pagination__item {
        background: map-get($material, cards);
        color: map-get($material, fg-color);

        &--active {
            color: map-deep-get($material, text, theme);
        }
    }

    .v-pagination__navigation {
        background: map-get($material, cards);

        .v-icon {
            color: rgba(map-get($material, fg-color), map-get($material, active-icon-percent));
        }
    }
}

@include theme(light, 'v-pagination') {
    @include v-pagination($material-light);
}

@include theme(dark, 'v-pagination') {
    @include v-pagination($material-dark);
}

.v-pagination {
    align-items: center;
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    max-width: 100%;
    min-width: rem(34px);
    padding: rem(0 5px);

    width: auto;

    > li {
        align-items: center;
        display: flex;
    }

    &--circle {
        .v-pagination__item,
        .v-pagination__more,
        .v-pagination__navigation {
            border-radius: 50%;
        }
    }

    &--disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    &__item {
        @include elevation(2);
        align-items: center;
        background: transparent;
        border-radius: rem(4px);
        display: inline-flex;
        font-size: $button-font-size;
        height: rem(34px);
        justify-content: center;
        margin: rem(0.3rem);
        text-decoration: none;
        transition: 0.3s map-get($transition, linear-out-slow-in);
        width: rem(34px);

        &--active {
            @include elevation(4);
        }
    }

    &__navigation {
        @include elevation(2);
        align-items: center;
        border-radius: rem(4px);
        display: inline-flex;
        height: rem(2rem);
        justify-content: center;
        margin: rem(0.3rem 10px);
        text-decoration: none;
        width: rem(2rem);

        .v-icon {
            font-size: rem(2rem);
            transition: $secondary-transition;
            vertical-align: middle;
        }

        &--disabled {
            opacity: 0.6;
            pointer-events: none;
        }
    }

    &__more {
        align-items: flex-end;
        display: inline-flex;
        height: rem(2rem);
        justify-content: center;
        margin: rem(0.3rem);
        width: rem(2rem);
    }
}
