@import '../bootstrap';
@import '../theme';

.v-input--radio-group {
    &__input {
        display: flex;
        width: 100%;

        > .v-label {
            padding-bottom: rem(8px);
        }
    }

    &--row {
        .v-input--radio-group__input {
            flex-flow: row wrap;
        }
    }

    &--column {
        .v-radio:not(:last-child):not(:only-child) {
            margin-bottom: rem(8px);
        }

        .v-input--radio-group__input {
            flex-direction: column;
        }
    }
}
