@import '../bootstrap';
@import '../theme';

@mixin radiogroup($material) {
    .input-group--selection-controls {
        //
    }
}

@include theme(light, 'radio-group') {
    @include radiogroup($material-light);
}

@include theme(dark, 'radio-group') {
    @include radiogroup($material-dark);
}

.radio-group {
    .input-group__details {
        &:before,
        &:after {
            display: none;
        }
    }

    .input-group {
        padding: 0;
    }

    &--column {
        .input-group__input {
            display: block;
        }
    }

    &--row {
        .input-group__input {
            flex-direction: row;
        }
    }

    &.input-group--error {
        .radio {
            label,
            .icon--selection-control {
                color: inherit;
            }
        }
    }
}
