.v-rating {
    .v-icon {
        border-radius: 50%;
        padding: 0.5rem;
        user-select: none;
    }

    &--readonly {
        .v-icon {
            pointer-events: none;
        }
    }
}
