.v-rating {
    .v-icon {
        border-radius: 50%;
        padding: rem(0.5rem);
        user-select: none;
    }

    &--readonly {
        .v-icon {
            pointer-events: none;
        }
    }

    &--dense {
        .v-icon {
            padding: rem(0.1rem);
        }
    }
}
