.v-ripple {
    &__container {
        border-radius: inherit;
        color: inherit;
        contain: strict;
        height: 100%;
        left: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    &__animation {
        background: currentColor;
        border-radius: 50%;
        color: inherit;
        left: 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 0;
        will-change: transform, opacity;

        &--enter {
            transition: none;
        }

        &--in {
            transition: $ripple-animation-transition-in;
        }

        &--out {
            transition: $ripple-animation-transition-out;
        }
    }
}
