@import '../bootstrap';
@import '../theme';

// Theme
@mixin selection-control($material) {
    &.v-input--is-disabled {
        .v-icon {
            // needed for helper override
            color: map-deep-get($material, buttons, disabled) !important;
        }
    }
}

@mixin v-selection-control-rtl {
    .v-input--selection-controls__input {
        margin-left: rem(8px);
        margin-right: 0;
    }
}

@include theme(light, 'v-input--selection-controls') {
    @include selection-control($material-light);
}

@include theme(dark, 'v-input--selection-controls') {
    @include selection-control($material-dark);
}

@include rtl('v-input--selection-controls') {
    @include v-selection-control-rtl;
}

.v-input--selection-controls {
    margin-top: $input-top-spacing;
    padding-top: rem(4px);

    .v-input__append-outer,
    .v-input__prepend-outer {
        margin-bottom: 0;
        margin-top: 0;
    }

    .v-input__control {
        flex-grow: 0;
        width: auto;
    }

    .v-input__slot {
        margin-bottom: rem(12px);
    }

    &__input {
        color: inherit;
        display: inline-flex;
        flex: 0 0 auto;
        height: rem(24px);
        margin-right: rem(8px);
        position: relative;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-property: color, transform;
        user-select: none;
        width: rem(24px);

        input {
            cursor: pointer;
            height: 100%;
            opacity: 0;
            position: absolute;
            user-select: none;
            width: 100%;
        }

        // Sibling selector to avoid targeting v-radio-group's label
        + .v-label {
            cursor: pointer;
            user-select: none;
        }
    }

    &__ripple {
        border-radius: 50%;
        cursor: pointer;
        height: rem(34px);
        left: rem(-12px);
        margin: rem(7px);
        position: absolute;
        top: calc(50% - #{rem(24px)});
        transition: inherit;
        width: rem(34px);

        &::before {
            border-radius: inherit;
            bottom: 0;
            content: '';
            left: 0;
            opacity: 0.2;
            position: absolute;
            right: 0;
            top: 0;
            transform: scale(0.2);
            transform-origin: center center;
            transition: inherit;
        }

        .v-ripple__container {
            transform: scale(1.4);
        }
    }

    &.v-input .v-label {
        align-items: center;
        display: inline-flex;
        height: auto;
        top: 0;
    }

    &.v-input--is-focused,
    .v-radio--is-focused {
        .v-input--selection-controls__ripple::before {
            background: currentColor;
            transform: scale(0.8);
        }
    }
}
