@import '../bootstrap';
@import '../theme';

@mixin v-small-dialog($material) {
    a {
        color: rgba(
            map-get($material, fg-color),
            map-get($material, primary-text-percent)
        );
    }
}

@include theme(light, 'v-small-dialog') {
    @include v-small-dialog($material-light);
}

@include theme(dark, 'v-small-dialog') {
    @include v-small-dialog($material-dark);
}

@mixin content-actions($material) {
    background: map-get($material, cards);
}

@include theme(light, 'v-small-dialog__content') {
    @include content-actions($material-light);
}

@include theme(dark, 'v-small-dialog__content') {
    @include content-actions($material-dark);
}

@include theme(light, 'v-small-dialog__actions') {
    @include content-actions($material-light);
}

@include theme(dark, 'v-small-dialog__actions') {
    @include content-actions($material-dark);
}

.v-small-dialog {
    display: block;
    height: 100%;
    width: 100%;

    &__content {
        padding: 0 1.5rem;
    }

    &__actions {
        text-align: right;
        white-space: pre;
    }

    a {
        align-items: center;
        display: flex;

        height: 100%;
        text-decoration: none;

        > * {
            width: 100%;
        }
    }

    .v-menu__activator {
        height: 100%;
    }
}
