@import '../bootstrap';

@mixin v-snack-rtl {
    &__content {
        .v-btn {
            margin: rem(0 24px 0 0);
        }
    }
}

@include rtl('v-snack') {
    @include v-snack-rtl;
}

.v-snack {
    align-items: center;
    color: $snackbar-color;
    display: flex;
    font-size: rem(14px);
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    z-index: 1000;

    &--absolute {
        position: absolute;
    }

    &--top {
        top: 0;
    }

    &--bottom {
        bottom: 0;
    }

    &__wrapper {
        @include elevation(6);
        align-items: center;
        background-color: $snackbar-background-color;
        display: flex;
        pointer-events: auto;
        width: 100%;
    }

    &__content {
        align-items: center;
        display: flex;
        height: rem(48px);
        justify-content: space-between;
        overflow: hidden;
        padding: rem(14px 24px);
        width: 100%;

        .v-btn {
            color: $snackbar-color;
            flex: 0 0 auto;
            height: auto;
            margin: rem(0 0 0 24px);
            min-width: auto;
            padding: rem(8px);
            width: auto;

            &__content {
                margin: rem(-2px);

                &::before {
                    display: none;
                }
            }
        }
    }

    &--multi-line &__content {
        height: rem(80px);
        padding: rem(24px);
    }

    &--vertical &__content {
        // https://stackoverflow.com/questions/35111090/text-in-a-flex-container-doesnt-wrap-in-ie11
        align-items: stretch;
        flex-direction: column;
        height: rem(112px);
        padding: rem(24px 24px 14px);

        .v-btn {
            // specificity
            &.v-btn {
                justify-content: flex-end;
                margin-left: 0;
                margin-top: rem(24px);
                padding: 0;
            }

            &__content {
                flex: 0 0 auto;
                margin: 0;
            }
        }
    }

    &--auto-height &__content {
        height: auto;
    }
}

@mixin v-snack-sm-and-up-rtl {
    @include breakpoint(sm-and-up) {
        &__content .v-btn:first-of-type {
            margin-left: 0;
            margin-right: rem(42px);
        }
    }
}

@include rtl('v-snack') {
    @include v-snack-sm-and-up-rtl;
}

@include breakpoint(sm-and-up) {
    .v-snack {
        &__wrapper {
            border-radius: rem(2px);
            margin: 0 auto;
            max-width: rem(568px);
            min-width: rem(288px);
            width: auto;

            .v-snack--left & {
                margin-left: 0;
            }

            .v-snack--right & {
                margin-right: 0;
            }
        }

        &--left,
        &--right {
            margin: 0 $snackbar-corner-offset;

            &.v-snack--top {
                transform: translateY($snackbar-corner-offset);
            }

            &.v-snack--bottom {
                transform: translateY(0 - $snackbar-corner-offset);
            }
        }

        &__content .v-btn:first-of-type {
            margin-left: rem(42px);
        }
    }
}

.v-snack-transition {
    &-enter-active,
    &-leave-active {
        transition: transform 0.4s map-get($transition, swing);

        .v-snack__content {
            transition: opacity 0.3s linear 0.1s;
        }
    }

    &-enter {
        .v-snack__content {
            opacity: 0;
        }
    }

    &-enter-to,
    &-leave {
        .v-snack__content {
            opacity: 1;
        }
    }

    &-enter,
    &-leave-to {
        &.v-snack.v-snack--top {
            // Extra 8px to hide the bottom shadow
            transform: translateY(calc(-100% - #{rem(8px)}));
        }

        &.v-snack.v-snack--bottom {
            transform: translateY(100%);
        }
    }
}
