@import '../bootstrap';
@import '../theme';

@mixin v-stepper($material) {
    background: map-get($material, bg-color);

    .v-stepper__step {
        &:not(.v-stepper__step--active):not(.v-stepper__step--complete):not(.v-stepper__step--error) {
            .v-stepper__step__step {
                background: rgba(
                    map-get($material, fg-color),
                    map-get($material, disabledORhints-text-percent)
                );
            }
        }

        &__step {
            color: map-deep-get($material, stepper, active);

            .v-icon {
                color: map-deep-get($material, stepper, active);
            }
        }

        &--active {
            .v-stepper__label {
                text-shadow: 0 0 0 rgba(map-get($material, fg-color), 1);
            }
        }

        &--editable:hover {
            background: rgba(map-get($material, fg-color), 0.06);

            .v-stepper__label {
                text-shadow: 0 0 0 rgba(map-get($material, fg-color), 1);
            }
        }

        &--complete {
            .v-stepper__label {
                color: map-deep-get($material, stepper, completed);
            }
        }

        &--inactive {
            &.v-stepper__step--editable:not(.v-stepper__step--error) {
                &:hover {
                    .v-stepper__step__step {
                        background: map-deep-get($material, stepper, hover);
                    }
                }
            }
        }
    }

    .v-stepper__header {
        .v-divider {
            border-color: rgba(
                map-get($material, fg-color),
                map-get($material, divider-percent)
            );
        }
    }

    .v-stepper__label {
        color: rgba(
            map-get($material, fg-color),
            map-get($material, disabledORhints-text-percent)
        );

        small {
            color: rgba(
                map-get($material, fg-color),
                map-get($material, secondary-text-percent)
            );
        }
    }

    &--non-linear {
        .v-stepper__step:not(.v-stepper__step--complete):not(.v-stepper__step--error) {
            .v-stepper__label {
                color: rgba(
                    map-get($material, fg-color),
                    map-get($material, secondary-text-percent)
                );
            }
        }
    }

    &--vertical {
        .v-stepper__content:not(:last-child) {
            border-left: rem(1px) solid
                rgba(
                    map-get($material, fg-color),
                    map-get($material, divider-percent)
                );
        }
    }
}

@mixin v-stepper-rtl() {
    .v-stepper__step__step {
        margin-left: rem(12px);
        margin-right: 0;
    }
}

@include theme(light, 'v-stepper') {
    @include v-stepper($material-light);
}

@include theme(dark, 'v-stepper') {
    @include v-stepper($material-dark);
}

@include rtl('v-stepper') {
    @include v-stepper-rtl;
}

.v-stepper {
    @include elevation(2);
    overflow: hidden;
    position: relative;

    &__header {
        @include elevation(2);
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        height: rem(72px);
        justify-content: space-between;

        .v-divider {
            align-self: center;
            margin: rem(0 -16px);
        }
    }

    &__items {
        overflow: hidden;
        position: relative;
    }

    &__step__step {
        align-items: center;
        border-radius: 50%;
        display: inline-flex;
        font-size: rem(12px);
        height: rem(24px);
        justify-content: center;
        margin-right: rem(8px);
        min-width: rem(24px);
        transition: 0.3s map-get($transition, fast-in-fast-out);
        width: rem(24px);

        .v-icon {
            font-size: rem(18px);
        }
    }

    &__step {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: rem(24px);
        position: relative;

        &--active {
            .v-stepper__label {
                transition: 0.3s map-get($transition, ease-in-out);
            }
        }

        &--editable {
            cursor: pointer;
        }

        &.v-stepper__step--error {
            .v-stepper__step__step {
                background: transparent;
                color: inherit;

                .v-icon {
                    color: inherit;
                    font-size: rem(24px);
                }
            }

            .v-stepper__label {
                color: inherit;
                font-weight: font-weight(medium);
                text-shadow: none;

                small {
                    color: inherit;
                }
            }
        }
    }

    &__label {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        text-align: left;

        small {
            font-size: rem(12px);
            font-weight: font-weight(light);
            text-shadow: none;
        }
    }

    &__wrapper {
        overflow: hidden;
        transition: none;
    }

    &__content {
        flex: 1 0 auto;
        padding: rem(24px 24px 16px);
        top: 0;
        // Chrome has an issue with overflow hidden for rendering
        // Originally used translateZ but this messes up fixed
        // elements within the stepper
        // Fix for #512 and #620
        // overflow: hidden
        width: 100%;

        > .v-btn {
            margin: rem(24px 8px 8px 0);
        }
    }

    &--is-booted {
        .v-stepper__content,
        .v-stepper__wrapper {
            transition: 0.3s map-get($transition, swing);
        }
    }

    &--vertical {
        padding-bottom: rem(36px);

        .v-stepper__content {
            margin: rem(-8px -36px -16px 36px);
            padding: rem(16px 60px 16px 23px);
            width: auto;
        }

        .v-stepper__step {
            padding: rem(24px 24px 16px);
        }

        .v-stepper__step__step {
            margin-right: rem(12px);
        }
    }

    &--alt-labels {
        .v-stepper__header {
            height: auto;

            .v-divider {
                align-self: flex-start;
                margin: rem(35px -67px 0);
            }
        }

        .v-stepper__step {
            align-items: center;
            flex-basis: rem(175px);
            flex-direction: column;
            justify-content: flex-start;

            small {
                align-self: center;
            }
        }

        .v-stepper__step__step {
            margin-bottom: rem(11px);
            margin-right: 0;
        }
    }
}

@media #{map-get($display-breakpoints, sm-and-down)} {
    .v-stepper:not(.v-stepper--vertical) {
        .v-stepper__label {
            display: none;
        }

        .v-stepper__step__step {
            margin-right: 0;
        }
    }
}
