@import '../bootstrap';
@import '../theme';

// Theme
@mixin v-input--switch($material) {
    &__thumb {
        color: map-deep-get($material, selection-controls, thumb, inactive);
    }

    &__track {
        color: map-deep-get($material, selection-controls, track, inactive);
    }

    &.v-input--is-disabled {
        .v-input--switch__thumb {
            color: map-deep-get(
                $material,
                selection-controls,
                thumb,
                disabled
            ) !important;
        }

        .v-input--switch__track {
            color: map-deep-get(
                $material,
                selection-controls,
                track,
                disabled
            ) !important;
        }
    }
}

@mixin v-input--switch-rtl() {
    .v-input--selection-controls__ripple {
        left: auto;
        right: rem(-14px);
    }

    &.v-input--is-dirty {
        .v-input--selection-controls__ripple,
        .v-input--switch__thumb {
            transform: translate(rem(-16px), 0);
        }
    }
}

@include theme(light, 'v-input--switch') {
    @include v-input--switch($material-light);
}

@include theme(dark, 'v-input--switch') {
    @include v-input--switch($material-dark);
}

@include rtl('v-input--switch') {
    @include v-input--switch-rtl;
}

.v-input--switch {
    &__track,
    &__thumb {
        background-color: currentColor;
        pointer-events: none;
        transition: inherit;
    }

    &__track {
        border-radius: rem(8px);
        height: rem(14px);
        left: rem(2px);
        opacity: 0.6;
        position: absolute;
        right: rem(2px);
        top: calc(50% - rem(7px));
    }

    &__thumb {
        @include elevation(4);
        align-items: center;
        border-radius: 50%;
        display: flex;
        height: rem(20px);
        justify-content: center;
        position: relative;
        top: calc(50% - rem(10px));
        width: rem(20px);
    }

    .v-input--selection-controls__input {
        width: rem(38px);
    }

    .v-input--selection-controls__ripple {
        left: rem(-14px);
        top: calc(50% - rem(24px));
    }

    &.v-input--is-dirty {
        .v-input--selection-controls__ripple,
        .v-input--switch__thumb {
            transform: translate(rem(16px), 0);
        }
    }
}
