// stylelint-disable declaration-no-important, font-weight-notation
@import '../bootstrap';
@import '../theme';

/* Theme */
@mixin system-bar($material) {
    background-color: map-get(map-get($material, status-bar), regular);
    color: map-get(map-get($material, text), secondary);

    .icon {
        color: map-get(map-get($material, text), secondary);
    }

    &--lights-out {
        background-color: map-get(
            map-get($material, status-bar),
            lights-out
        ) !important;
    }
}

@include theme(light, 'system-bar') {
    @include system-bar($material-light);
}

@include theme(dark, 'system-bar') {
    @include system-bar($material-dark);
}

.system-bar {
    align-items: center;
    display: flex;
    font-size: map-get(map-get($headings, body-2), size);
    font-weight: map-get(map-get($headings, body-2), weight);
    padding: 0 8px;

    .icon {
        font-size: map-get(map-get($headings, subheading), size);
    }

    &--fixed,
    &--absolute {
        left: 0;
        top: 0;
        width: 100%;
        z-index: 3;
    }

    &--fixed {
        position: fixed;
    }

    &--absolute {
        position: absolute;
    }

    &--status {
        .icon {
            margin-right: 4px;
        }
    }

    &--window {
        .icon {
            font-size: map-get(map-get($headings, h6), size);
            margin-right: 8px;
        }
    }
}
