@import '../bootstrap';
@import '../theme';

// Theme
@mixin v-tabs__bar($material) {
    background-color: map-get($material, cards);

    .v-tabs__div {
        color: map-deep-get($material, tabs, active);
    }

    .v-tabs__item--disabled {
        color: map-deep-get($material, buttons, disabled);
    }
}

@include theme(light, 'v-tabs__bar') {
    @include v-tabs__bar($material-light);
}

@include theme(dark, 'v-tabs__bar') {
    @include v-tabs__bar($material-dark);
}

.v-tabs {
    position: relative;
}

.v-tabs__bar {
    border-radius: inherit;
    position: relative;
}

.v-tabs__icon {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    height: 100%;
    position: absolute;
    top: 0;
    user-select: none;
    width: rem(32px);

    &--prev {
        left: rem(4px);
    }

    &--next {
        right: rem(4px);
    }
}

.v-tabs__wrapper {
    contain: content;
    display: flex;
    overflow: hidden;

    &--show-arrows {
        margin-left: rem(40px);
        margin-right: rem(40px);

        .v-tabs__container--align-with-title {
            padding-left: rem(16px);

            @include breakpoint(xs-only) {
                padding-left: rem(24px);
            }
        }
    }
}

.v-tabs__container {
    display: flex;
    flex: 1 0 auto;
    height: rem(48px);
    list-style-type: none;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
    white-space: nowrap;

    &--overflow {
        .v-tabs__div {
            flex: 1 0 auto;
        }
    }

    &--grow {
        .v-tabs__div {
            flex: 1 0 auto;
            max-width: none;
        }
    }

    &--icons-and-text {
        height: rem(72px);

        .v-tabs__item {
            flex-direction: column-reverse;

            .v-icon {
                margin-bottom: rem(6px);
            }
        }
    }

    &--align-with-title {
        padding-left: rem(56px);
    }

    &--fixed-tabs,
    &--icons-and-text {
        .v-tabs__div {
            min-width: rem(72px);

            @include breakpoint(sm-and-up) {
                min-width: rem(160px);
            }
        }
    }

    &--fixed-tabs {
        .v-tabs__div {
            @include breakpoint(xs-only) {
                flex: 1 0 auto;
            }
        }
    }

    &--centered,
    &--fixed-tabs,
    &--right {
        > .v-tabs__div:first-child {
            margin-left: auto;
        }

        .v-tabs__slider-wrapper + .v-tabs__div {
            margin-left: auto;
        }
    }

    &--centered,
    &--fixed-tabs {
        > .v-tabs__div:last-child {
            margin-right: auto;
        }
    }
}

.v-tabs__div {
    align-items: center;
    display: inline-flex;
    flex: 0 1 auto;
    font-size: rem(14px);
    font-weight: font-weight(medium);
    height: inherit;
    line-height: normal;
    max-width: rem(264px);
    text-align: center;
    text-transform: $tab-text-transform;
    vertical-align: middle;
}

.v-tabs__item {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    justify-content: center;
    max-width: inherit;
    padding: rem(6px 12px);
    text-decoration: none;
    transition: $primary-transition;
    user-select: none;
    white-space: normal;

    &:not(.v-tabs__item--active) {
        opacity: 0.7;
    }

    &--disabled {
        pointer-events: none;
    }
}

.v-tabs__slider {
    height: rem(2px);
    width: 100%;

    &-wrapper {
        bottom: 0;
        margin: 0 !important;
        position: absolute;
        transition: $primary-transition;
    }
}
