@import '../bootstrap';
@import '../theme';

// Theme
@mixin v-table($material) {
    background-color: map-get($material, cards);
    color: map-deep-get($material, text, primary);

    thead {
        tr {
            &:first-child {
                border-bottom: rem(1px) solid
                    rgba(map-get($material, fg-color), map-get($material, divider-percent));
            }
        }

        th {
            color: rgba(map-get($material, text-color), map-get($material, secondary-text-percent));
        }
    }

    tbody {
        tr {
            &:not(:last-child) {
                border-bottom: rem(1px) solid
                    rgba(map-get($material, fg-color), map-get($material, divider-percent));
            }

            &[active] {
                background: map-deep-get($material, table, active);
            }

            &:hover:not(.v-datatable__expand-row) {
                background: map-deep-get($material, table, hover);
            }
        }
    }

    tfoot {
        tr {
            border-top: rem(1px) solid rgba(map-get($material, fg-color), map-get($material, divider-percent));
        }
    }
}

@include theme(light, 'v-table') {
    @include v-table($material-light);
}

@include theme(dark, 'v-table') {
    @include v-table($material-dark);
}

.v-table {
    &__overflow {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
    }
}

table.v-table {
    border-collapse: collapse;
    border-radius: rem(2px);
    border-spacing: 0;
    max-width: 100%;
    width: 100%;

    thead,
    tbody {
        td,
        th {
            &:not(:nth-child(1)),
            &:first-child {
                padding: rem(0 24px);
            }
        }
    }

    thead {
        tr {
            height: rem(56px);
        }

        th {
            font-size: rem(12px);
            font-weight: font-weight(medium);
            transition: 0.3s map-get($transition, swing);
            user-select: none;
            white-space: nowrap;

            &.sortable {
                pointer-events: auto;
            }

            > div {
                width: 100%;
            }
        }
    }

    tbody {
        tr {
            transition: background $primary-transition;
            will-change: background;
        }

        td,
        th {
            height: rem(48px);
        }

        td {
            font-size: rem(13px);
            font-weight: font-weight(regular);
        }
    }

    .v-input--selection-controls {
        padding: 0;

        .v-input__details {
            display: none;
        }

        &.checkbox {
            .v-icon {
                left: 50%;
                transform: translateX(-50%);
            }

            .v-input--selection-controls__ripple {
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    tfoot {
        tr {
            height: rem(48px);

            td {
                padding: rem(0 24px);
            }
        }
    }
}
