@import '../bootstrap';
@import '../theme';

@mixin v-text-field($material) {
    .v-input__slot::before {
        border-color: map-get($material, input-bottom-line);
    }

    &:not(.v-input--has-state) {
        .v-input__slot:hover::before {
            border-color: map-deep-get($material, text, primary);
        }
    }

    &.v-input--is-disabled {
        .v-input__slot::before {
            border-image: repeating-linear-gradient(
                    to right,
                    map-deep-get($material, text, disabled) 0,
                    map-deep-get($material, text, disabled) rem(2px),
                    transparent rem(2px),
                    transparent rem(4px)
                )
                1 repeat;
        }
    }

    &__prefix,
    &__suffix {
        color: map-deep-get($material, text, secondary);
    }

    &--solo {
        .v-input__slot {
            background: map-get($material, cards);
            border-radius: rem(2px);
        }
    }

    &--solo-inverted.v-text-field--solo {
        .v-input__slot {
            background: map-deep-get($material, inputs, solo-inverted);
        }

        &.v-input--is-focused {
            .v-input__slot {
                background: map-deep-get(
                    $material,
                    inputs,
                    solo-inverted-focused
                );

                .v-label,
                input {
                    color: map-deep-get(
                        $material,
                        inputs,
                        solo-inverted-focused-text
                    );
                }
            }
        }
    }

    &--box {
        .v-input__slot {
            background: map-deep-get($material, text-fields, box);
        }

        &:not(.v-input--is-focused) {
            .v-input__slot:hover {
                background: map-deep-get($material, text-fields, box-hover);
            }
        }
    }

    &--outline {
        .v-input__slot {
            border: rem(2px) solid map-deep-get($material, text, secondary);
        }

        &:not(.v-input--is-focused) {
            .v-input__slot:hover {
                border: rem(2px) solid map-deep-get($material, text, primary);
            }
        }
    }
}

@mixin v-text-field-rtl {
    .v-label {
        transform-origin: top right;
    }

    .v-counter {
        margin-left: 0;
        margin-right: rem(8px);
    }

    &--enclosed {
        .v-input__append-outer {
            margin-left: 0;
            margin-right: rem(16px);
        }

        .v-input__prepend-outer {
            margin-left: rem(16px);
            margin-right: 0;
        }
    }

    &--reverse {
        input {
            text-align: left;
        }

        .v-label {
            transform-origin: top left;
        }
    }

    &__prefix {
        padding-left: rem(4px);
        padding-right: 0;
        text-align: left;
    }

    &__suffix {
        padding-left: 0;
        padding-right: rem(4px);
    }

    // stylelint-disable-next-line no-duplicate-selectors
    &--reverse {
        .v-text-field__prefix {
            padding-left: 0;
            padding-right: rem(4px);
            text-align: right;
        }

        .v-text-field__suffix {
            padding-left: 0;
            padding-right: rem(4px);
        }
    }
}

@include theme(light, 'v-text-field') {
    @include v-text-field($material-light);
}

@include theme(dark, 'v-text-field') {
    @include v-text-field($material-dark);
}

@include rtl('v-text-field') {
    @include v-text-field-rtl;
}

.v-text-field {
    margin-top: $input-top-spacing - $text-field-active-label-height;
    padding-top: $text-field-active-label-height;

    input {
        flex: 1 1 auto;
        line-height: rem(20px);
        max-width: 100%;
        min-width: 0;
        padding: rem(8px 0);
        width: 100%;
    }

    .v-input__prepend-inner,
    .v-input__append-inner {
        align-self: flex-start;
        display: inline-flex;
        line-height: 1;
        margin-top: rem(4px);
        user-select: none;
    }

    .v-input__prepend-inner {
        margin-right: auto;
        padding-right: rem(4px);
    }

    .v-input__append-inner {
        margin-left: auto;
        padding-left: rem(4px);
    }

    .v-counter {
        margin-left: rem(8px);
        white-space: nowrap;
    }

    .v-label {
        max-width: 90%;
        overflow: hidden;
        pointer-events: none;
        text-overflow: ellipsis;
        top: rem(6px); // equal to the margin top of icons
        transform-origin: top left;
        white-space: nowrap;

        &--active {
            max-width: 100%;
            // NOTE: Added this to make label clickable when there is something in it.
            pointer-events: initial;
            transform: translateY(rem(-18px)) scale(0.75);
        }
    }

    > .v-input__control > .v-input__slot {
        cursor: text;
        transition: background $primary-transition;

        &::before,
        &::after {
            bottom: rem(-1px);
            content: '';
            left: 0;
            position: absolute;
            transition: $primary-transition;
            width: 100%;
        }

        &::before {
            border-style: solid;
            border-width: thin 0 0;
        }

        &::after {
            border-color: currentColor;
            border-style: solid;
            border-width: thin 0;
            transform: scaleX(0);
        }
    }

    &__details {
        display: flex;
        flex: 1 0 auto;
        max-width: 100%;
        overflow: hidden;
    }

    &__prefix,
    &__suffix {
        align-self: center;
        cursor: default;
    }

    &__prefix {
        padding-right: rem(4px);
        text-align: right;
        width: rem(16px);
    }

    &__suffix {
        padding-left: rem(4px);
        white-space: nowrap;
    }

    &--reverse {
        .v-text-field__prefix {
            padding-left: rem(4px);
            padding-right: 0;
            text-align: left;
        }

        .v-text-field__suffix {
            padding-left: 0;
            padding-right: rem(4px);
        }
    }

    &__slot {
        display: flex;
        flex: 1 1 auto;
        position: relative;
    }

    &--box,
    &--outline {
        position: relative;

        .v-input__slot {
            align-items: stretch;
            min-height: rem(56px);
        }

        input {
            margin-top: rem(22px);
        }

        &.v-text-field--single-line {
            input {
                margin-top: rem(12px);
            }
        }

        .v-label {
            top: rem(18px);

            &--active {
                transform: translateY(rem(-6px)) scale(0.75);
            }
        }
    }

    &--box {
        .v-input__slot {
            border-top-left-radius: rem(4px);
            border-top-right-radius: rem(4px);

            &::before {
                border-style: solid;
                border-width: thin 0;
            }
        }
    }

    &.v-text-field--enclosed {
        margin: 0;
        padding: 0;

        &:not(.v-text-field--box) {
            .v-progress-linear__background {
                display: none;
            }
        }

        .v-input__prepend-outer,
        .v-input__prepend-inner,
        .v-input__append-inner,
        .v-input__append-outer {
            margin-top: rem(16px);
        }

        .v-text-field__details,
        .v-input__slot {
            padding: rem(0 12px);
        }

        .v-text-field__details {
            margin-bottom: rem(8px);
        }
    }

    &.v-text-field--full-width {
        &.v-input {
            margin-bottom: 0;
            margin-top: 0;
        }

        .v-label {
            top: calc(50% - rem(10px));
        }

        .v-input__control {
            padding: rem(12px 0);
        }

        .v-input__prepend-outer,
        .v-input__append-outer {
            margin-top: rem(4px);
        }

        .v-input__append-inner {
            align-self: center;
            margin-top: 0;
        }
    }

    // stylelint-disable-next-line no-duplicate-selectors
    &--reverse {
        input {
            text-align: right;
        }

        .v-label {
            transform-origin: top right;
        }

        .v-input__slot,
        .v-text-field__slot {
            flex-direction: row-reverse;
        }
    }

    &--solo,
    &--outline,
    &--full-width {
        .v-input__slot {
            &::before,
            &::after {
                display: none;
            }
        }
    }

    &--outline {
        margin-bottom: rem(16px);
        transition: border $primary-transition;

        .v-input__slot {
            background: transparent !important;
            border-radius: rem(4px);
        }

        .v-input__prepend-outer,
        .v-input__append-outer {
            margin-top: rem(18px); // 2px for border
        }

        &.v-input--is-focused {
            .v-input__slot {
                border: rem(2px) solid currentColor;
                transition: border $primary-transition;
            }
        }
    }

    &.v-text-field--solo {
        .v-label {
            top: calc(50% - rem(10px));
        }

        .v-input__control {
            min-height: rem(48px);
            padding: 0;
        }

        &:not(.v-text-field--solo-flat) {
            .v-input__slot {
                @include elevation(2);
            }
        }

        .v-text-field__slot {
            align-items: center;
        }

        .v-input__append-inner,
        .v-input__prepend-inner {
            align-self: center;
            margin-top: 0;
        }

        .v-input__prepend-outer,
        .v-input__append-outer {
            margin-top: rem(12px);
        }
    }

    &.v-input--is-focused {
        .v-input__slot::after {
            transform: scaleX(1);
        }
    }

    &.v-input--has-state {
        .v-input__slot::before {
            border-color: currentColor;
        }
    }
}
