@import '../bootstrap';

.v-time-picker-title {
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    line-height: 1;
}

.v-time-picker-title__time {
    white-space: nowrap;

    .v-picker__title__btn,
    span {
        align-items: center;
        display: inline-flex;
        font-size: rem(70px);
        height: rem(70px);
        justify-content: center;
    }
}

.v-time-picker-title__ampm {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    font-size: rem(16px);
    margin: rem(8px 0 6px 8px);
    text-transform: uppercase;

    div:only-child {
        flex-direction: row;
    }
}

.v-picker__title--landscape {
    .v-time-picker-title {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .v-time-picker-title__time {
        text-align: right;

        .v-picker__title__btn,
        span {
            font-size: rem(55px);
            height: rem(55px);
        }
    }

    .v-time-picker-title__ampm {
        align-self: initial;
        margin: rem(16px 0 0);
        text-align: center;
    }
}
