@import '../bootstrap';
@import '../theme';

// Theme
@mixin v-time-picker-clock($material) {
    background: map-deep-get($material, picker, clock);

    .v-time-picker-clock__item--disabled {
        color: map-deep-get($material, buttons, disabled);

        &.v-time-picker-clock__item--active {
            color: map-deep-get($material-dark, buttons, disabled);
        }
    }

    &--indeterminate {
        .v-time-picker-clock__hand {
            background-color: map-deep-get(
                $material,
                picker,
                indeterminateTime
            );

            &::after {
                color: map-deep-get($material, picker, indeterminateTime);
            }
        }

        .v-time-picker-clock__item--active {
            background-color: map-deep-get(
                $material,
                picker,
                indeterminateTime
            );
        }
    }
}

@include theme(light, 'v-time-picker-clock') {
    @include v-time-picker-clock($material-light);
}

@include theme(dark, 'v-time-picker-clock') {
    @include v-time-picker-clock($material-dark);
}

.v-time-picker-clock {
    border-radius: 100%;
    padding-top: 100%;
    position: relative;
    transition: $primary-transition;
    user-select: none;
    width: 100%;

    &__container {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.625rem;
    }

    &__hand {
        bottom: 50%;
        height: calc(50% - 0.25rem);
        left: calc(50% - 1px);
        position: absolute;
        transform-origin: center bottom;
        width: 0.125rem;
        will-change: transform;
        z-index: 1;

        &::before {
            background: transparent;
            border-color: inherit;
            border-radius: 100%;
            border-style: solid;
            border-width: 2px;
            content: '';
            height: 0.625rem;
            left: 50%;
            position: absolute;
            top: -0.25rem;
            transform: translate(-50%, -50%);
            width: 0.625rem;
        }

        &::after {
            background-color: inherit;
            border-color: inherit;
            border-radius: 100%;
            border-style: solid;
            content: '';
            height: 0.5rem;
            left: 50%;
            position: absolute;
            top: 100%;
            transform: translate(-50%, -50%);
            width: 0.5rem;
        }

        &--inner::after {
            height: 0.875rem;
        }
    }
}

.v-picker--full-width {
    .v-time-picker-clock__container {
        max-width: 18.125rem;
    }
}

.v-time-picker-clock__inner {
    bottom: 1.6875rem;
    left: 1.6875rem;
    position: absolute;
    right: 1.6875rem;
    top: 1.6875rem;
}

.v-time-picker-clock__item {
    align-items: center;
    border-radius: 100%;
    cursor: default;
    display: flex;
    font-size: $time-picker-number-font-size;
    height: $time-picker-indicator-size;
    justify-content: center;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    user-select: none;
    width: $time-picker-indicator-size;

    > span {
        z-index: 1;
    }

    &::before,
    &::after {
        border-radius: 100%;
        content: '';
        // height: 0.875rem;
        height: $time-picker-indicator-size;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        // width: 0.875rem;
        width: $time-picker-indicator-size;
    }

    &--active {
        color: #ffffff;
        cursor: default;
        z-index: 2;
    }

    &--disabled {
        pointer-events: none;
    }
}
