@import '../bootstrap';

.v-tooltip {
    @include breakpoint(sm-and-down) {
        .v-tooltip__content {
            padding: rem(10px 16px);
        }
    }

    &__content {
        @include elevation(2);
        background: map-get($grey, darken-2);
        border-radius: rem(2px);
        color: #ffffff;
        display: inline-block;
        font-size: rem(12px);
        padding: rem(5px 8px);
        position: absolute;
        text-transform: initial;
        width: auto;

        &[class*='-active'] {
            pointer-events: none;
            transition: 0.15s map-get($transition, swing);
        }
    }
}
