// stylelint-disable declaration-no-important, font-weight-notation
@import '../bootstrap';
@import '../theme';

// Theme
@mixin v-toolbar($material) {
    background-color: map-get($material, app-bar);
    color: map-deep-get($material, text, primary);
}

@include theme(light, 'v-toolbar') {
    @include v-toolbar($material-light);
}

@include theme(dark, 'v-toolbar') {
    @include v-toolbar($material-dark);
}

@mixin v-toolbar-content($direction) {
    &.v-btn--icon {
        margin-#{$direction}: -0.375rem;
    }

    &.v-menu .v-menu__activator,
    &.v-tooltip span {
        .v-btn {
            margin-#{$direction}: 0;
        }

        .v-btn--icon {
            margin-#{$direction}: -0.375rem;
        }
    }
    margin-#{$direction}: 0;
}

.v-toolbar {
    @include bootable;
    @include elevation(4);

    position: relative;
    width: 100%;
    will-change: padding-left, padding-right;

    // TODO: Do we even need this?
    .v-text-field--enclosed,
    .v-text-field--box {
        margin: 0;

        .v-text-field__details {
            display: none;
        }
    }

    // Children
    .v-tabs {
        width: 100%;
    }

    &__title {
        font-size: map-deep-get($headings, h6, size);
        font-weight: map-deep-get($headings, h6, weight);
        letter-spacing: map-deep-get($headings, h6, letter-spacing);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:not(:first-child) {
            margin-left: 1.25rem;
        }
    }

    &__content,
    &__extension {
        align-items: center;
        display: flex;
        padding: 0 map-get($grid-gutters, xl);

        .v-btn--icon {
            margin: 0.375rem;
        }

        > *:first-child {
            @include v-toolbar-content(left);
        }

        > *:last-child {
            @include v-toolbar-content(right);
        }

        > .v-list {
            flex: 1 1 auto;
            max-height: 100%;
        }

        > .v-list:first-child {
            margin-left: -#{map-get($grid-gutters, xl)};

            @media #{map-get($display-breakpoints, sm-and-down)} {
                margin-left: -#{map-get($grid-gutters, lg)};
            }
        }

        > .v-list:last-child {
            margin-right: -#{map-get($grid-gutters, xl)};

            @media #{map-get($display-breakpoints, sm-and-down)} {
                margin-right: -#{map-get($grid-gutters, lg)};
            }
        }

        @media #{map-get($display-breakpoints, sm-and-down)} {
            padding: 0 map-get($grid-gutters, lg);
        }
    }

    &__extension {
        > .v-toolbar__title {
            margin-left: 4.5rem;
        }
    }

    &__items {
        display: flex;
        height: inherit;
        max-width: 100%;
        padding: 0;

        .v-btn {
            align-items: stretch;
        }

        .v-tooltip,
        .v-tooltip > span {
            height: inherit;
        }

        .v-btn,
        .v-menu,
        .v-menu__activator {
            height: inherit;
            margin: 0;
        }
    }

    // Types
    .v-overflow-btn,
    .v-btn-toggle {
        @include elevation(0);
    }

    .v-input {
        margin: 0;
    }

    .v-overflow-btn {
        .v-input__control,
        .v-input__slot {
            &::before {
                display: none;
            }
        }
    }

    &--card {
        @include elevation(0);
        border-radius: $card-border-radius $card-border-radius 0 0;
    }

    &--fixed {
        position: fixed;
        z-index: 2;
    }

    &--fixed,
    &--absolute {
        left: 0;
        top: 0;
    }

    &--absolute {
        position: absolute;
        z-index: 2;
    }

    &--floating {
        display: inline-flex;
        margin: map-get($grid-gutters, lg);
        width: auto;
    }

    &--clipped {
        z-index: 3;
    }
}
