@import '../bootstrap';
@import '../theme';

// Theme
@mixin v-treeview($material) {
    color: map-deep-get($material, text, primary);

    &--hoverable .v-treeview-node__root:hover,
    .v-treeview-node--active {
        background: map-get($material, dividers);
    }
}

@mixin v-treeview-rtl() {
    > .v-treeview-node {
        margin-right: 0;

        &--leaf {
            margin-left: 0;
            margin-right: rem(24px);
        }
    }

    &-node {
        margin-left: 0;
        margin-right: rem(26px);

        &--leaf {
            margin-left: 0;
            margin-right: rem(50px);
        }

        &__toggle {
            transform: rotate(90deg);

            &--open {
                transform: none;
            }
        }
    }
}

@include theme(light, 'v-treeview') {
    @include v-treeview($material-light);
}

@include theme(dark, 'v-treeview') {
    @include v-treeview($material-dark);
}

@include rtl('v-treeview') {
    @include v-treeview-rtl;
}

.v-treeview {
    > .v-treeview-node {
        margin-left: 0;

        &--leaf {
            margin-left: rem(24px);
        }
    }

    &-node {
        margin-left: rem(26px);

        &--excluded {
            display: none;
        }

        &--click {
            > .v-treeview-node__root,
            > .v-treeview-node__root > .v-treeview-node__content > * {
                cursor: pointer;
                user-select: none;
            }
        }

        &--leaf {
            margin-left: rem(50px);
        }

        &__root {
            align-items: center;
            display: flex;
            min-height: rem(34px);
        }

        &__content {
            align-items: center;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;

            // TODO: this is temporary fix for d-flex * shenanigans
            .v-btn {
                flex-grow: 0 !important;
                flex-shrink: 1 !important;
            }
        }

        &__label {
            flex-grow: 1;
            flex-shrink: 0;
            font-size: rem(1.2rem);
            margin-left: rem(6px);

            .v-icon {
                padding-right: rem(8px);
            }
        }

        &__checkbox {
            user-select: none;
        }

        &__toggle {
            transform: rotate(-90deg);
            user-select: none;

            &--open {
                transform: none;
            }

            &--loading {
                // stylelint-disable-next-line no-unknown-animations
                animation: progress-circular-rotate 1s linear infinite;
            }
        }

        &__children {
            transition: all $treeview-transition;
        }
    }
}
