// stylelint-disable declaration-no-important
@mixin global-color($color_name, $color_value) {
    .#{$color_name} {
        background-color: $color_value !important;
        border-color: $color_value !important;
    }
    .#{$color_name}--text {
        color: $color_value !important;
    }
}

@mixin global-color-accent($color_name, $color_value, $color_type) {
    .#{$color_name} {
        &.#{$color_type} {
            background-color: $color_value !important;
            border-color: $color_value !important;
        }
    }

    .#{$color_name}--text {
        &.text--#{$color_type} {
            color: $color_value !important;
        }
    }
}
